html, body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ocupa toda la pantalla */
}

.main-content {
  flex: 1; /* empuja el footer hacia abajo */
  
}

