
<section class="detalle-container" *ngIf="curso">
  <div class="detalle-curso">
    <img [src]="'http://localhost:3000/' + curso.imagen" [alt]="curso.titulo">
    <h2>{{ curso.nombre }}</h2>
    <p>{{ curso.descripcion }}</p>
  </div>

  <div class="detalle-pago">
    <h1 class="monto">
      💰 Total a pagar: <span class="precio">{{ curso.precio | currency:'PEN' }}</span>
    </h1>

    <h3>Opciones de pago</h3>

    <div class="opcion">
      💳 Pagar con Tarjeta / Yape
      <div class="contenido-pago" (click)="pagarTarjeta()">
        <img src="assets/images/culqi2.jpg" alt="culqi">
      </div>
    </div>

    <div class="opcion">
      💲 PayPal
      <div id="paypal-button-container" style="margin-top:10px;"></div>
    </div>

    <div class="opcion">
      💲 Criptomonedas
      <div class="cripto" id="cripto-button-container">
        <a [href]="'https://nowpayments.io/payment/?iid=' + nowPaymentsId + '&source=button'" target="_blank" rel="noreferrer noopener">
          <img src="https://nowpayments.io/images/embeds/payment-button-white.svg" alt="Pago en criptomonedas NOWPayments">
        </a>
      </div>
    </div>
  </div>
</section>


