<div class="login-container">
  <div class="login-box">
    <h2>🔐 Inicie Sesión</h2>

    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input id="email" type="email" [(ngModel)]="email" name="email" required placeholder="ejemplo@correo.com">
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input id="password" type="password" [(ngModel)]="password" name="password" required placeholder="********">
      </div>

      <button type="submit" class="btn">Ingresar</button>
    </form>

    <p class="register-text">
      ¿Aún no tienes una cuenta?
      <a routerLink="/register">Regístrate ahora</a>
    </p>

    <p class="error" *ngIf="mensajeError">{{ mensajeError }}</p>
  </div>
</div>

